// slideinframe styles
bar-icon-size ?= 33px
bar-icon-padding ?= 7px 
bar-height ?= 2px + bar-icon-size + 2 * bar-icon-padding

element-background ?= black 
cd-background ?= black

/*==================================================
General Slideinframe  Styles
==================================================*/
.slideinframe.active
    transform translateX(0)

.slideinframe
    padding: bar-height 0
    box-sizing: border-box
    display: flex
    flex-direction: column
    background-color element-background
    // background-color: alpha(cd-background, 0.5)
    position fixed
    z-index: 99
    top 0
    left 0
    height 100vh
    width 100%
    transform translateX(-102%)
    transition transform 0.4s

    .back-icon
        display: block
        margin-left auto
        height: bar-icon-size
        width bar-icon-size

    .accept-icon
        display block
        margin-left auto
        height: bar-icon-size
        width bar-icon-size

    .slideinframe-back-button
        background-color cd-background
        // background-color element-background
        position absolute
        padding bar-icon-padding + 1px (2 * bar-icon-padding)
        top: 0
        width 100%
        box-sizing: border-box
        cursor pointer

    .slideinframe-accept-button
        background-color cd-background
        // background-color element-background
        position absolute
        bottom: 0
        width 100%
        padding bar-icon-padding + 1px (2 * bar-icon-padding)
        box-sizing: border-box
        cursor pointer

.slideinframe-content
    overflow-y: auto